#!/bin/bash
#
# App settings: Rectangle
#
# Rectangle config hash: {{ include "dot_config/rectangle/RectangleConfig.json" | sha256sum }}

{{ if ne .chezmoi.os "darwin" }}
exit 0
{{ end }}

set -eufo pipefail

echo "[app-settings][start]"

RECTANGLE_CONFIG="{{ .chezmoi.sourceDir }}/dot_config/rectangle/RectangleConfig.json"
RECTANGLE_IMPORT="$HOME/Library/Application Support/Rectangle/RectangleConfig.json"

# Rectangle
# - Rectangle reads this file on next launch, then renames/removes it.
if [ -f "$RECTANGLE_CONFIG" ]; then
    echo "[app-settings][rectangle] stage import config"
    mkdir -p "$(dirname "$RECTANGLE_IMPORT")"
    install -m 0644 "$RECTANGLE_CONFIG" "$RECTANGLE_IMPORT"
else
    echo "[app-settings][warning] Rectangle config not found"
fi

echo "[app-settings][done]"
