# Cache
/temp/
/tmp/
*.cache
*.tmp
*.swp
*.swo

# Log
*.log
*.log.*

# Key
*.pem
*.key
*.crt
*.cert
*.p12
*.pfx
secrets/
.secrets
.secrets/
auth.json
credentials.json

# IDE
.idea/
.idea_modules/
.vscode/
.history/
*.code-workspace
.fleet/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
*.iml
*.iws
*.ipr
out/

# OS
.AppleDouble
.DS_Store*
.LSOverride
.Spotlight-V100
.Trashes
._*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Icon?
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# AI Agent
.agents/*
.augment/*
.amazonq/*
.codebuddy/*
.cursor/*
.gemini/*
.kilocode/*
.opencode/*
.qwen/*
.roo/*
.windsurf/*

# Claude
**/CLAUDE.md
!/CLAUDE.md
.claude/commands/speckit.*
.claude/hooks/.permissions-checked
.claude/memory/*
!.claude/memory/.gitkeep
.claude/plans
.claude/settings.local.json
.remember

# Codex
.codex/commands/speckit.*
.codex/memory/*
!.codex/memory/.gitkeep

# GitHub
.github/agents/*
!.github/agents/*.agent.md
.github/prompts/*

# Agent-OS
.agent-os/
agent-os/

# Spec-Kit
.specify/
.speckit/
specs/

# etc
.cmux
