[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[pull]
    rebase = false

[push]
    default = current
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    lg = log --oneline --graph --decorate
    last = log -1 HEAD
    unstage = reset HEAD --
    amend = commit --amend --no-edit

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[fetch]
    prune = true
