# ~/.zshrc
# chezmoi로 관리

module_dir="$HOME/.config/zsh"
typeset -a zsh_modules=(
    "$module_dir/00-core.zsh"
    "$module_dir/20-env.zsh"
    "$module_dir/30-path.zsh"
    "$module_dir/40-aliases.zsh"
    "$module_dir/50-functions.zsh"
    "$module_dir/60-completion.zsh"
    "$module_dir"/70-tools-*.zsh(N)
    "$module_dir/80-plugins.zsh"
    "$module_dir/90-secrets.zsh"
)

for module in "${zsh_modules[@]}"; do
    if [ -r "$module" ]; then
        source "$module"
    fi
done

unset module module_dir zsh_modules
